@font-face {
  font-family: "source-code-pro";
  src: url("/font/SourceCodePro-ExtraLight.eot");
  src: url("/font/SourceCodePro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/font/SourceCodePro-ExtraLight.otf.woff") format("woff"), url("/font/SourceCodePro-ExtraLight.ttf.woff") format("truetype"), url("/font/SourceCodePro-ExtraLight.svg") format("svg");
  font-weight: 100; }

@font-face {
  font-family: "source-code-pro";
  src: url("/font/SourceCodePro-Light.eot");
  src: url("/font/SourceCodePro-Light.eot?#iefix") format("embedded-opentype"), url("/font/SourceCodePro-Light.otf.woff") format("woff"), url("/font/SourceCodePro-Light.ttf.woff") format("truetype"), url("/font/SourceCodePro-Light.svg") format("svg");
  font-weight: 200; }

@font-face {
  font-family: "source-code-pro";
  src: url("/font/SourceCodePro-Regular.eot");
  src: url("/font/SourceCodePro-Regular.eot?#iefix") format("embedded-opentype"), url("/font/SourceCodePro-Regular.otf.woff") format("woff"), url("/font/SourceCodePro-Regular.ttf.woff") format("truetype"), url("/font/SourceCodePro-Regular.svg") format("svg");
  font-weight: 300; }

@font-face {
  font-family: "source-code-pro";
  src: url("/font/SourceCodePro-Medium.eot");
  src: url("/font/SourceCodePro-Medium.eot?#iefix") format("embedded-opentype"), url("/font/SourceCodePro-Medium.otf.woff") format("woff"), url("/font/SourceCodePro-Medium.ttf.woff") format("truetype"), url("/font/SourceCodePro-Medium.svg") format("svg");
  font-weight: 400; }

@font-face {
  font-family: "source-code-pro";
  src: url("/font/SourceCodePro-Semibold.eot");
  src: url("/font/SourceCodePro-Semibold.eot?#iefix") format("embedded-opentype"), url("/font/SourceCodePro-Semibold.otf.woff") format("woff"), url("/font/SourceCodePro-Semibold.ttf.woff") format("truetype"), url("/font/SourceCodePro-Semibold.svg") format("svg");
  font-weight: 500; }

@font-face {
  font-family: "source-code-pro";
  src: url("/font/SourceCodePro-Bold.eot");
  src: url("/font/SourceCodePro-Bold.eot?#iefix") format("embedded-opentype"), url("/font/SourceCodePro-Bold.otf.woff") format("woff"), url("/font/SourceCodePro-Bold.ttf.woff") format("truetype"), url("/font/SourceCodePro-Bold.svg") format("svg");
  font-weight: 600; }

@font-face {
  font-family: "source-code-pro";
  src: url("/font/SourceCodePro-Black.eot");
  src: url("/font/SourceCodePro-Black.eot?#iefix") format("embedded-opentype"), url("/font/SourceCodePro-Black.otf.woff") format("woff"), url("/font/SourceCodePro-Black.ttf.woff") format("truetype"), url("/font/SourceCodePro-Black.svg") format("svg");
  font-weight: 700; }

@font-face {
  font-family: "atlas-grotesk";
  src: url("/font/AtlasGrotesk-Regular-Web.eot");
  src: url("/font/AtlasGrotesk-Regular-Web.eot?#iefix") format("embedded-opentype"), url("/font/AtlasGrotesk-Regular-Web.woff") format("woff"), url("/font/AtlasGrotesk-Regular-Web.ttf") format("truetype"), url("/font/AtlasGrotesk-Regular-Web.svg#Atlas Grotesk") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "atlas-grotesk";
  src: url("/font/AtlasGrotesk-RegularItalic-Web.eot");
  src: url("/font/AtlasGrotesk-RegularItalic-Web.eot?#iefix") format("embedded-opentype"), url("/font/AtlasGrotesk-RegularItalic-Web.woff") format("woff"), url("/font/AtlasGrotesk-RegularItalic-Web.ttf") format("truetype"), url("/font/AtlasGrotesk-RegularItalic-Web.svg#Atlas Grotesk") format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: "atlas-grotesk";
  src: url("/font/AtlasGrotesk-Bold-Web.eot");
  src: url("/font/AtlasGrotesk-Bold-Web.eot?#iefix") format("embedded-opentype"), url("/font/AtlasGrotesk-Bold-Web.woff") format("woff"), url("/font/AtlasGrotesk-Bold-Web.ttf") format("truetype"), url("/font/AtlasGrotesk-Bold-Web.svg#Atlas Grotesk") format("svg");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "atlas-grotesk";
  src: url("/font/AtlasGrotesk-BoldItalic-Web.eot");
  src: url("/font/AtlasGrotesk-BoldItalic-Web.eot?#iefix") format("embedded-opentype"), url("/font/AtlasGrotesk-BoldItalic-Web.woff") format("woff"), url("/font/AtlasGrotesk-BoldItalic-Web.ttf") format("truetype"), url("/font/AtlasGrotesk-BoldItalic-Web.svg#Atlas Grotesk") format("svg");
  font-weight: bold;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: "fira-sans";
  src: url("/font/FiraSans-Regular.eot");
  src: url("/font/FiraSans-Regular.eot?#iefix") format("embedded-opentype"), url("/font/FiraSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

/* line 131, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 11px; }

/* line 134, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
a, a:visited {
  color: inherit; }

/* line 137, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
body {
  background: #efe8d5;
  color: #662daa;
  border-left: 38px solid #662daa;
  border-right: 38px solid #662daa;
  padding: 120px 40px;
  font-family: atlas-grotesk, sans-serif;
  font-size: 11px;
  min-height: 100%; }
  /* line 148, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
  body:before, body:after {
    content: '';
    display: block;
    background: #662daa;
    width: 100%;
    height: 38px;
    position: fixed;
    left: 0;
    z-index: 9999; }
  /* line 158, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
  body:before {
    top: 0;
    height: 38px;
    border-bottom: 10px solid #efe8d5; }
  /* line 163, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
  body:after {
    bottom: 0;
    border-top: 10px solid #efe8d5; }
  /* line 168, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
  body header {
    color: #fff; }
    /* line 172, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
    body header h1 {
      text-align: right;
      position: fixed;
      bottom: 5px;
      right: 12px;
      z-index: 10000; }
    /* line 180, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
    body header nav {
      position: fixed;
      z-index: 10000;
      float: left;
      text-align: left;
      top: 60px;
      left: 0;
      font-size: 90px;
      margin: 0; }
      /* line 190, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
      body header nav a {
        display: block;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: 0.4em; }
        /* line 196, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
        body header nav a span {
          opacity: 0;
          -webkit-transition-duration: 300ms;
          -moz-transition-duration: 300ms;
          -o-transition-duration: 300ms;
          transition-duration: 300ms; }
        /* line 201, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
        body header nav a.index {
          margin-left: 24px; }
          /* line 203, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
          body header nav a.index span {
            margin-left: -0.2em; }
        /* line 207, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
        body header nav a.about {
          margin-left: 4px; }
          /* line 209, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
          body header nav a.about span {
            margin-left: -0.2em; }
        /* line 215, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
        body header nav a:hover span {
          opacity: 1;
          -webkit-transition-duration: 1000ms;
          -moz-transition-duration: 1000ms;
          -o-transition-duration: 1000ms;
          transition-duration: 1000ms; }

/* line 226, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
code {
  font-family: source-code-pro; }

/* line 230, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
#wrap {
  max-width: 1000px;
  margin: 0 auto; }

/* line 236, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
body.index ul#articles {
  width: 600px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center; }
  /* line 244, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
  body.index ul#articles li a {
    display: block;
    text-decoration: none;
    padding: 40px;
    margin-bottom: 40px; }
    /* line 250, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
    body.index ul#articles li a .date {
      display: block;
      font-size: 90px;
      font-weight: bold;
      -webkit-transition-duration: 500;
      -moz-transition-duration: 500;
      -o-transition-duration: 500;
      transition-duration: 500; }
    /* line 256, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
    body.index ul#articles li a .title {
      display: block;
      margin-top: 20px;
      padding: 10px;
      -webkit-border-radius: 20px 20px;
      -moz-border-radius: 20px / 20px;
      border-radius: 20px / 20px; }
    /* line 265, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
    body.index ul#articles li a:hover .date {
      color: #FF20AF;
      -webkit-transition-duration: 500;
      -moz-transition-duration: 500;
      -o-transition-duration: 500;
      transition-duration: 500; }
    /* line 269, /Users/terada/Sites/naokazuterada.github.io/source/style/all.css.scss */
    body.index ul#articles li a:hover .title {
      background: #FF20AF;
      color: #efe8d5; }
